@charset "UTF-8";

/*
    Plate de cores:
    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;

}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden; /*Tudo o que estiver fora da bordar, vai ficar escondido*/


    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    transition: width 1.3s, height 1.3s; /*Para fazer animação de aumentar e diminuir a formulario*/
    transition-timing-function: ease; /*Para suavizar a movimentação da animação*/
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/predio.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;

    height: 200px;

}

section#login > div#formulario {
    display: block;
    padding: 10px;

}